<h1> Welcome to the GA Blog API </h1>

<p> This API is intended for students to use in order to practice making RESTful requests across networks </p>

<p> If there is interest in improving this app, please make a pull request on the <a href="https://github.com/jaredmurphy/ga_sinatra_blog_api">Github repository</a></p>
