<!DOCTYPE html>
<html>
<head>
  <title>GA Blog API</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/docs">Documentation</a>
  </nav>

  <div id="container">
    <%= yield %>
  </div>
</body>
</html>

